.header {
  min-height: 50px;
  background: #FFEAC3;
  text-transform: uppercase;
  border-bottom: 1px solid #69442A;
  margin-bottom: 20px;
  text-align: center;
}
.header h3 {
  margin: auto;
  line-height: 60px;
  font-family: serif;
  font-weight: bold;
}
.header a {
  color: #444;
  cursor: pointer;
}

.footer {
  background: #FFEAC3;
  border-top: 1px solid #69442A;
  text-align: center;
  margin-top: 20px;
  font-size: small;
}
.footer span {
  line-height: 40px;
}
